

.hidden {
    display: none;
}

.playersContainer {
    border: 1px solid red;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 100px;
    grid-template-rows: 100px;
    box-sizing: border-box;
}